* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}


p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header, footer, .section {
padding-top: 30px; 
padding-bottom: 30px; 
}

/* webstudio with portfolia header */
.container {
   width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
body {
    font-family: var(--font-family);
}
:root {
   --siniy: #2196F3;
   --cherniy: #000000;
   --seriy: #212121;
   --seriychik: #757575;
   --bely: #FFFFFF;
   --seriyniy: #2F303A;
   --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --tipobely: #F5F4FA;
}



.web {
   color:var(--siniy);
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 0.03em;
}
.studio {
   color:var(--cherniy);
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 0.03em;
}
.header-nav-link {
   color: var(--seriy);
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 15px;
   letter-spacing: 0.02em;
   align-items: center;
   justify-content: center;
   display: flex;
}
.header-nav-item {
   column-gap: 50px;
   padding-top: 10px;
   display: flex;
}

.header-position {
    display: flex;
    justify-content: space-between;
}
.header-contact-list {
   column-gap: 50px;
   padding-top: 10px;
}
.header-contact-email,
.header-contact-phone {
   color: var(--seriychik);
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 14px;
   letter-spacing: 0.02em;
   width: 122px;
   height: 16px;
   align-items: center;
   justify-content: center;
   display: flex;
   padding-top: 4px;
}
.header-contact-list {
   display: flex;
}
.none {
   display: none;
}
.main-button {
   background-color: var(--siniy);
   color: var(--bely);
   width: 216px;
   height: 50px;
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   display: block;
   margin: 0 auto;
}
.main-title {
   color: var(--bely);
   font-family: var(--font-family);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   width: 696px;
   margin: 0 auto;
   margin-bottom: 30px;
}
.span-main-title {
   margin-left: 130px;
}
.features-item-text {
   color: var(--seriychik);
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
.features-item-title {
   color: var(--seriy);
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   padding-bottom: 10px;
}
.header-nav-link:hover,
.header-contact-email:hover,
.header-contact-phone:hover {
   color: var(--siniy);
}
.team-member-role {
   color: var(--seriychik);
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.03em;
   text-align: center;
}
.features-list {
   display: flex;
}
.features {
   padding-bottom: 94px;

}
.features-list-studio {
   display: flex;
   padding-top: 94px;
   padding-bottom: 93px;
}
.features-item {
   margin-right: 30px;
}
.features-item {
   color: var(--cherniy);
}
.team-list {
   column-gap: 20px;
}
.work-list {
   column-gap: 20px;
}
.features-item:hover {
   color: var(--siniy);
}
footer {
   background-color: var(--seriyniy);  
   height: 252px;
}
.work-title,
.team-title {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 36px;
   letter-spacing: 0.03em;
   text-align: center;
   padding-bottom: 60px;
}
.work-item {
}
.work-list {
   display: flex;
   column-gap: 20px;
}


.team-member-name {
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.03em;
   text-align: center;
   padding-bottom: 17px;
   margin-top: 30px;
}
.footer-address {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--bely);
}
.footer-contact-phone,
.footer-contact-email {
   color: var(--seriychik);
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   padding-top: 20px;
}
.team-member {
   column-gap: 20px;
}
.team-list {
   display : flex;
}
.footer-address {
   padding-top: 33px;
}
.features-list {
   padding-top: 125px;
   padding-bottom: 50px;
}
.section-1 {
   background-color: var(--seriyniy);
   padding-bottom: 200px;
   padding-top: 200px;
}
.section-3 {
   padding-bottom: 93px;
   padding-top: 93px;
}
.section-4 {
   padding-bottom: 93px;
   padding-top: 93px;
   background: #f5f4fa;
}
.span-main-title {

}
.studio-ft {
   color: var(--bely);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}
/* main portfolia */
.features-link-5,
.features-link-4,
.features-link-3,
.features-link-2,
.features-link-1 {
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--cherniy);
   background-color: var(--tipobely);
   margin-right: 10px;
}

.features-link-1:hover {
   color: var(--bely);
   background-color: var(--siniy);
}
.features-link-2:hover {
   color: var(--bely);
   background-color: var(--siniy);
}
.features-link-3:hover {
   color: var(--bely);
   background-color: var(--siniy);
}
.features-link-4:hover {
   color: var(--bely);
   background-color: var(--siniy);
}
.features-link-5:hover {
   color: var(--bely);
   background-color: var(--siniy);
}
.project-title {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 18px;
   line-height: 2.00;
   letter-spacing: 0.06em;
   color: var(--seriy);
   padding-bottom: 24px;
}
.project-type {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
   color: var(--seriychik);
}

.features-list {
   margin-left: 300px;
}
.features-link-1 {
   display: inline-block;
   width: 73px;
   height: 38px;
   border-radius: 5px;
}
.features-link-2 {
   display: inline-block;
   width: 125px;
   height: 38px;
   border-radius: 5px;
}
.features-link-3 {
   display: inline-block;
   width: 112px;
   height: 38px;
   border-radius: 5px;
}
.features-link-4 {
   display: inline-block;
   width: 103px;
   height: 38px;
   border-radius: 5px;
}
.features-link-5 {
   display: inline-block;
   width: 130px;
   height: 38px;
   border-radius: 5px;
}
.projects {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   list-style: none;
}

.project-item {
   width: 356px; 
   background-color: #fff;
}

.project-item:hover {
   transform: scale(1.05);
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.project-img {
   width: 100%;
   height: auto;
   display: block;
}

.project-title {
   font-size: 18px;
   font-weight: bold;
   margin-top: 10px;
}

.project-type {
   font-size: 14px;
   color: gray;
   margin-top: 5px;
}
.adresa {
   font-style: normal;
}